/*多语言样式*/

/* .lan_zh-hans .blocklyTreeRow,
.lan_zh-hant .blocklyTreeRow {
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
}

.lan_zh-hans .blocklyTreeIcon,
.lan_zh-hant .blocklyTreeIcon {
    margin-right: 1.3rem;
} */

/* .lan_zh-hans .project_name>span,
.lan_zh-hant .project_name>span {
    max-width: 11rem;
} */
